.text-white { color: #fff; }
.bg-white { background-color: #fff; }

.bg-black {background-color: #000; }
.text-black {color:#000;}

.bg-green{ background-color: #356eea; }
.text-green {color: #356eea; }

.candidate_photo {
    width: 80px;
    height: 80px;
    border: 2px solid #356eea;
    border-radius: 100%;
}